body, a {
    font-family: 'Roboto', Helvetica, sans-serif;
}

a, p {
    font-size: 14px;
}

h2 {
    color: #444;
    font-size: 21px;
}

a {
    text-decoration: underline;
    font-weight: 400;
    color: #000;
}

nav a {
    text-decoration: none;
    color: #444;

}

.container {
    position: relative;
    padding-top: 60px;
    width: 960px;
    margin: 0 auto;
}

body, div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container .container2 {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
}

.project-image {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 12px;
}

.project-content {
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

.talks-section-header {
    margin-bottom: 20px;
}

.talks-header {
    height: 80px;
}

.books-header {
    height: 80px;
}

.from-markdown {
    width: 550px;
}

.from-markdown h1 {
    font-size: 24px;
}

.from-markdown h2 {
    font-size: 20px;
}

.from-markdown h3 {
    font-size: 18px;
}

.from-markdown h1,
.from-markdown h2,
.from-markdown h3,
.from-markdown h4,
.from-markdown h5,
.from-markdown h6 {
    margin-bottom: 12px;
    margin-top: 20px;
    color: #000;
}

.from-markdown a {
    text-decoration: underline;
}

.from-markdown p {
    line-height: 1.6;
    margin-bottom: 12px;
    text-indent: 28px;
}

.projects-content {
    margin-top: 70px;
}


.talks-content p {
    line-height: 1.6;
}

.talks-content a {
    text-decoration: none;
    color: #DD4814;
    font-weight: 300;
}

.talks-content {
    margin-top: 70px;
    width: 500px;
}

.books-content {
    margin-top: 70px;
    width: 500px;
}

.books-container > :last-child {
    border: none;
}

.book-sep {
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #eee;
}

.project-container {
    margin-bottom: 60px;
}

.project-description {
    margin-top: 5px;
}

.contact-container {
    width: 350px;
}

.content-container {
    margin-top: 70px;
}

.landing-content {
    position: absolute;
    left: 160px;
    margin: 0 0 0 0;
    padding-left: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

#statement {
    padding-top: 70px;
    width: 500px;
}

#statement p {
    margin-bottom: 10px;
}

#resume-link {
    padding-top: 70px;
}

#content-header {
    height: 150px;
}

#resume {
    width: 720px;
}

.just-left-container {
    float: left;
}

.just-right-container {
    float: right;
}

.just-left-container p {
    text-align: left;
}

.just-right-container p {
    text-align: right;
}

.just-left, .just-right {
    vertical-align: top;
    display: inline;
}

.just-container {
    overflow: hidden;
    width: 100%;
}

.just-left {
    text-align: left;
}

.just-right {
    text-align: right;
}

.resume-section {
    overflow: hidden;
    margin-bottom: 18px;
}

.content-leader {
    margin-bottom: 5px;
}

.landing-content {
    padding-bottom: 150px;
}

.resume-paragraphs p {
    text-align: justify;
}

.resume-section-content > :last-child {
    margin-bottom: 0px;
}

.resume-paragraphs {
    margin-bottom: 20px;
}

.resume-paragraphs p {
    margin-bottom: 5px;
}

.resume-section-title {
    width: 140px;
}

.resume-section-content {
    width: 580px;
}

.resume-section-content, .resume-section-title {
    float: left;
}

#resume-header {
    margin-bottom: 20px;
}

.hruled {
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
    margin-bottom: 5px;
}

#name-header {
    font-family: 'Roboto Slab', Georgia, serif;
    font-weight: 400;
    margin-bottom: 100px;
}

nav ul {
    float: left;
}

ul {
    list-style: none outside;
    margin: 0 0 20px 0;
    padding:0;
}

li {
    padding:0 0 8px 0;
}

p, href {
    font-weight: 300;
}
